body {
    background-color: #e0bf6cfa;

}

.cool{
    width: auto;
    height: 100px;
    background-color: rgb(78, 78, 233);
    transition: background-color 3s;
}

.coolred{
    background-color: crimson;
}